@media screen and (min-width: 0px) {
    .cabecalho__pesquisa, 
    .cabecalho__perfil, 
    .menu {
        display: none;
    } 

    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__mobile {
        display: flex;
    }
     
    .projetoCard__codigo {  
        height: 20rem;
    }
}

@media screen and (min-width: 768px) {   
    .cabecalho__lupa  {
        display: none;
    }

    .cabecalho__pesquisa {
        display: flex;
    } 

    .projetoCard__codigo {  
        height: 15rem;
    }

    .dadosProjeto__personalizacao {
        display: flex;
        justify-content: space-between;
    }

    .dadosProjeto__personalizacao .dadosProjeto__selectItem {
        width: 49%;
        
    }
}

@media screen and (min-width: 1024px) {
    
    /* esconde o cabeçalho mobile */
    .cabecalho__mobile  {
        display: none;
    }

    .app {
        font-size: 20px;
        display: grid;
        grid-template-areas: "cabecalho" "conteudo";  
    }

    .cabecalho {
        display: grid;
        gap: var(--gap-colunas);
        grid-area: cabecalho;
        grid-template-columns: 20% 60% 18%;
    }

    /* exibe o cabeçalho perfil */
    .cabecalho__perfil {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 2rem;
    }

    .conteudo {
        display: grid;
        gap: var(--gap-colunas);
        grid-area: conteudo;
        grid-template-columns: 20% 60% 18%;  
        /* grid-template-areas: "menu" "projeto" "dadosProjeto"; */
    }

    /* exibe o menu na barra lateral */
    .menu {
        display: flex;
        flex-direction: column;
    }

    .dadosProjeto {
        padding: 1rem;
    }

    .dadosProjeto__personalizacao {
        flex-direction: column;
    }

    .dadosProjeto__personalizacao .dadosProjeto__selectItem {
        width: 100%;        
    }
}