.caixaTexto__padrao {
    padding: 1rem;
    border: none;
    border-radius: 8px;     
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.16);
    color: rgba(255, 255, 255, 0.64);
    resize: none;
    width: 100%;
    height: 56px;
}

.caixaTexto__padrao::placeholder {
    color: rgba(255, 255, 255, 0.64);
}

.caixaTexto__padrao:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.itemSelecao {
    color: black;
}

.caixaTexto__pesquisa {
    padding: 1rem;
    border: none;
    border-radius: 8px;     
    background-color: rgba(255, 255, 255, 0.16);
    color: rgba(255, 255, 255, 0.64);
    resize: none;
    width: 100%;
    height: 56px;
    margin: auto 1em;
}

.caixaTexto__descricao {
    height: 8rem;
}